<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /LigaFull/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_URI} !^/LigaFull/api/
  RewriteRule . /LigaFull/index.html [L]
</IfModule>
